body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(110deg ,#d54f9fdf, #5c3279, #f89cc8);
  background-size: 200% 200%;
  animation: gradient-bg 10s ease infinite;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('https://i.pinimg.com/1200x/5a/67/9b/5a679bc4d2bc5a2547b4e83594a5277f.jpg') center/cover no-repeat;
  opacity: 0.25; 
  pointer-events: none;
}

@keyframes gradient-bg {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

    .card1 {
      width: 100%;
      max-width: 600px;
      height: 400px;
      border-radius: 60px;
      background: linear-gradient(135deg,#f9a6ce, #9d6fbb, #d54f9fdf);
      background-size: 300% 300%;
      animation: card-gradient 8s ease infinite;
      border: 5px solid rgb(255, 229, 248);
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 0px; 
      margin-left: 450px;
      margin-top: 150px;
      position: relative;
    }
    @keyframes card-gradient {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }

    .header {
      display: flex;              
      align-items: center;       
      justify-content: space-between;
      margin: 25px 40px 0 40px; 
    }

    .site-title {
      font-size: 40px;
      margin: 0;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #fff2d0;
      text-shadow: 
      0 0 8px #cbaaff,
      0 0 16px #be82ff,
      0 0 32px #a253f7,
      0 0 48px #8ab2f7;
      display: flex;
      align-items: center;
      gap: 12px;
    }
    .site-title:hover {
      transform: scale(1.08);
      transition: transform 0.5s ease-in-out;
    }
    .small-circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-image: url('logo-placeholder.png');
      background-size: cover;
      background-position: center;
      background-image: url('https://i.pinimg.com/1200x/12/0d/d5/120dd56e3b590e584ba60b176bd92ed9.jpg');
      border: 2px solid white;
      box-shadow: 0 0 12px #be82ff;

    }
    .about-link {
      font-size: 18px;  
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
      color: #fff2d0;
      cursor: pointer;  
      text-shadow:
        0 0 6px #cbaaff,
        0 0 12px #be82ff,
        0 0 25px #a253f7,
        0 0 40px #8ab2f7;
    }
    .about-link:hover {
      transform: scale(1.08);
      transition: transform 0.5s ease-in-out;
    }
    .middle-bg {
      position: absolute;
      top: 90px;          
      left: 10px;
      right: 10px;
      bottom: 30px;
      border-radius: 30px;
      background: rgba(255, 255, 255, 0.192); 
      backdrop-filter: blur(6px);          
      -webkit-backdrop-filter: blur(6px);
      z-index: 0;                          
    }   
    .inner-box {
      width: 70%;
      height: 35%;
      margin: 0;
      display: flex;
      justify-content: flex-start;
      margin-left: 20px;
      margin-top: 70px;
    }
    .left-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
    .nickname-label {
      font-size: 30px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #e7c9fd;
      text-shadow:
        0 0 6px #cbaaff,
        0 0 12px #be82ff,
        0 0 25px #a253f7,
        0 0 40px #8ab2f7;
      animation: floatnml 4s ease-in-out infinite;
    }
    @keyframes floatnml {
      0%   { transform: translateY(0); }
      50%  { transform: translateY(-4px); }
      100% { transform: translateY(0); }
    }
    .nickname-input {
      width: 250px;
      padding: 12px 18px;
      font-size: 1rem;
      border-radius: 25px;
      border: 2px solid #e7c9fd;
      background: rgba(252, 203, 255, 0.6);
      box-shadow: 0 0 20px #be82ff;
      outline: none;
      color: #fff7b0;
      animation: floatnmi 4s ease-in-out infinite;
    }
    @keyframes floatnmi {
      0%   { transform: translateY(0); }
      50%  { transform: translateY(-4px); }
      100% { transform: translateY(0); }
    }
    .proceed-btn {
      margin-top: 25px;
      margin-left: 80px;
      font-size: 15px;
      background: #fff2d0;
      border: none;
      border-radius: 15px;
      padding: 10px 25px;
      color: #8b5cac;
      box-shadow: 0 0 20px #fcf29a;
      cursor: pointer;
      font-weight: bold;
      animation: floatpb 4s ease-in-out infinite;
    }
    @keyframes floatpb {
      0%   { transform: translateY(0); }
      50%  { transform: translateY(-4px); }
      100% { transform: translateY(0); }
    }
    .logo-circle {
      width: 230px;
      height: 230px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: 340px;
      margin-top: -175px;
      
      box-shadow: 0 0 20px #be82ff;
      animation: floatlgc 4s ease-in-out infinite;
    }
    @keyframes floatlgc {
      0%   { transform: translateY(0); }
      50%  { transform: translateY(-4px); }
      100% { transform: translateY(0); }
    }