
        body {
            background: linear-gradient(180deg, rgba(115, 82, 146, 1) 0%, #cd858f 100%);
            color: #ffeab3;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100vh;
            text-align: center;
        }

        header {
            padding: 60px 20px;
        }

        header, h1 {
            font-size: 50px;
            color: #ffeab3;
        }
        span {
            position: relative;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        header p {
            font-size: 1.2em;
            margin-top: 15px;
            max-width: 600px;
            color: #ffeab3;
            animation: bounce 0.4s ease infinite alternate;
            top:20px;
        }

        h1 span:nth-child(3) {
            animation-delay: 0.1s;
        }
        h1 span:nth-child(4) {
            animation-delay: 0.2s;
        }
        h1 span:nth-child(5) {
            animation-delay: 0.3s;
        }
        h1 span:nth-child(6) {
            animation-delay: 0.4s;
        }
        h1 span:nth-child(7) {
            animation-delay: 0.5s;
        }
        h1 span:nth-child(8) {
            animation-delay: 0.6s;
        }
        h1 span:nth-child(9) {
            animation-delay: 0.7s;
        }
        h1 span:nth-child(10) {
            animation-delay: 0.8s;
        }
        h1 span:nth-child(11) {
            animation-delay: 0.9s;
        }
        @keyframes bounce{
            top: -20px;
        }

        .about-section {
            margin-top: 60px;
            width: 90%;
            max-width: 900px;
            display: flex-start;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

        .about-title {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .card-container {
            display: flex;
            justify-content: flex-start;
        
            gap: 40px;
            width: 100%;
        }

        .about-card {
            background-color: #504b83;
            border-radius: 15px;
            transition: 0.4s;
            width: 260px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 4px 8px rgba(230, 121, 121, 0.96);
            cursor: pointer;
            overflow: hidden;
        }

        .card-photo {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 15px;
            border: 3px solid #ffeab3;
        }

        .card-text {
            font-size: 1.1em;
            font-weight: 500;
            color: #ffeab3;
        }

        .extra {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all 0.4s ease;
            margin-top: 10px;
        }

        .about-card:hover {
            width: 600px;
            background: #735292;
        }

        .about-card:hover .extra {
            max-height: 1000px;
            opacity: 1;
        }

        @media (max-width: 600px) {
            .about-card {
                width: 100%;
            }
            .about-card:hover {
                width: 100%;
            }
        }