            /* Navigation Bar*/
            
            body{
                overflow-x: hidden;
                background: linear-gradient(180deg, rgba(115, 82, 146, 1) 0%, #cd858f 100%);
                color:#ffeab3;
                position: relative;
                font-family: 'Times New Roman', Times, serif;
            }

            #navtoggle{
                position: fixed;
                top: 30px;
                left: 3px;
                z-index: 1000;
                padding: 10px 15px;
                cursor: pointer;
                border-radius: 5px;
            }

            .navbar{
                width: 250px;
                position: fixed;
                top: 0;
                left: -250px;
                height: 100%;
                background-color: rgba(254, 192, 192, 0.584);
                color: #746c7f;
            }

            .navbar.open{
                left: 0;
                border-radius: 20px;
                margin-left: 5px;
                font-size: 16px;
            }

            #navbar ul{
                list-style: none;
                padding:0;
            }

            #navbar ul li{
                text-align: center;
                padding: 20px;
            }

            #navbar ul li a{
                color: #746c7f;;
                text-decoration: none;
                font-weight: bold;
            }

            #navbar ul li a:hover{
                background: linear-gradient(180deg, rgba(115, 82, 146, 1) 0%, #cd858f 100%);
                color: #ffeab3;
                padding: 10px 15px;
                border-radius: 15px;
                display: block;
                transition: 0.3s ease;
            }

            #navbar ul li a.active{
                background: linear-gradient(180deg, rgba(115, 82, 146, 1) 0%, #cd858f 100%);
                color: #ffeab3;
                padding: 10px 15px;
                border-radius: 15px;
                display: block;
                font-weight: bold;
            }

            .submenu{
                display:none;
                list-style: none;
                padding-left: 10px;
                margin: 0;
            }

            .has-submenu:hover .submenu{
                display: block;
            }

            .submenu li{
                padding: 10px;
                background: white;
                margin-top: 5px;
                border-radius: 5px;
            }

            .submenu li a{
                color: #ffd;
            }

            /*Main Page*/

            .container{
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                gap: 20px;
                height: 100vh;
                padding: 20px;
                box-sizing: border-box;
            }

            .column{
                padding: 20px;
                border-radius: 10px;
                overflow-y: auto;
            }

            .progress-container{
                width: 100%;
                height: 30px;
                background: #eee;
                border-radius: 5px;
                margin-bottom: 10px;
            }

            .progress-bar{
                height: 100%;
                width: 0%;
                background: rgb(232, 195, 125);
                border-radius: 5px;
                transition: 0.3s ease;
            }

            .whiteboard{
                background: white;
                color: #746c7f;
                height: 300px;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 15px;
            }

            #calendar{
                background: white;
                border-radius: 10px;
                padding: 15px;
            }