    body {
        font-family: 'Times New Roman', Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background: linear-gradient(180deg, rgba(115, 82, 146, 1) 0%, #cd858f 100%);
        min-height: 100vh;
        margin: 0;
        color: #746c7f;
    }

    .calendar {
        width: 500px;
        background: #fff;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        color: #fd4891;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        align-items: center;
    }

    button {
        cursor: pointer;
        background: #ffe27b;
        border: none;
        padding: 6px 12px;
        border-radius: 10px;
        font-size: 18px;
        color: #fd4891;
    }

    button:hover {
        background: #ffd34f;
    }

    .weekdays {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-weight: bold;
        margin-bottom: 10px;
        color: #fd4891;
    }

    .weekdays div {
        padding: 10px 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
    }

    .day {
        background-color: #fff;
        padding: 10px;
        min-height: 60px;
        border-radius: 8px;
        position: relative;
        cursor: pointer;
        border: 1px solid #f3cce0;
    }

    .day:hover {
        background-color: #f19bc5;
        color: white;
    }

    .event {
        font-size: 10px;
        color: #fd4891;
        margin-top: 5px;
        background: #ffe4e9;
        padding: 3px 5px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .delete-btn {
        margin-left: 5px;
        background: #ffe27b;
        color: #fd4891;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        font-size: 10px;
        width: 16px;
        height: 16px;
        padding: 0;
    }