    body {
        font-family: 'Times New Roman', Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background: linear-gradient(180deg, rgba(115, 82, 146, 1) 0%, #cd858f 100%);
        min-height: 100vh;
        margin: 0;
        color: #746c7f;
    }

    #navtoggle{
                position: fixed;
                font-size: 20px;
                font-weight: bold;
                top: 0;
                left: 3px;
                z-index: 1000;
                padding: 10px 15px;
                cursor: pointer;
                border-radius: 5px;
                color: #3b3545;
                transition: scale 0.2s ease;
            }
            #navtoggle:hover{
                scale: 1.1;
            }
            
            .navbar{
                width: 250px;
                position: fixed;
                top: 0;
                left: -250px;
                max-height: 100%;
                height: 60%;
                background-color: rgba(255, 255, 255, 0.621);
                color: #746c7f;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
                transition: left 0.3s ease;
                z-index: 1;
            }
            @keyframes slideIn {
                from {
                    left: -230px;
                }
                to {
                    left: 0;
                }
            }

            .navbar.open{
                left: 0;
                border-radius: 20px;
                margin-left: 5px;
                font-size: 16px;
            }

            #navbar ul{
                list-style: none;
                padding:0;
            }

            #navbar ul li{
                text-align: center;
                margin-top: 40px;
            }

            #navbar ul li a{
                color: #5f576b;
                text-decoration: none;
                font-weight: bold;
                font-size: 20px;
            }

            #navbar ul li a:hover{
                background: linear-gradient(180deg, rgba(115, 82, 146, 1) 0%, #cd858f 100%);
                color: #ffeab3;
                padding: 10px 5px;
                border-radius: 15px;
                margin-left: 28px;
                margin-right: 28px;
                display: block;
                transition: 0.3s ease;
            }

            #navbar ul li a.active{
                background: linear-gradient(180deg, rgba(115, 82, 146, 1) 0%, #cd858f 100%);
                color: #ffeab3;
                padding: 10px 15px;
                border-radius: 15px;
                display: block;
                font-weight: bold;
            }

            .submenu{
                display:none;
                list-style: none;
                padding-left: 10px;
                margin: 0;
            }

            .has-submenu:hover .submenu{
                display: block;
            }

            .submenu li{
                padding: 10px;
                background: white;
                margin-top: 5px;
                border-radius: 5px;
            }

            .submenu li a{
                color: #ffd;
            }

            /* Calendar */

    .calendar {
        width: 800px;
        background: #fff;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        color: #fd4891;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        align-items: center;
    }

    button {
        cursor: pointer;
        background: #ffe27b;
        border: none;
        padding: 6px 12px;
        border-radius: 10px;
        font-size: 18px;
        color: #fd4891;
    }

    button:hover {
        background: #ffd34f;
    }

    .weekdays {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-weight: bold;
        margin-bottom: 10px;
        color: #fd4891;
    }

    .weekdays div {
        padding: 10px 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
    }

    .day {
        background-color: #fff;
        padding: 10px;
        min-height: 60px;
        border-radius: 8px;
        position: relative;
        cursor: pointer;
        border: 1px solid #f3cce0;
    }

    .day:hover {
        background-color: #f19bc5;
        color: white;
    }

    .event {
        font-size: 10px;
        color: #fd4891;
        margin-top: 5px;
        background: #ffe4e9;
        padding: 3px 5px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .delete-btn {
        margin-left: 5px;
        background: #ffe27b;
        color: #fd4891;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        font-size: 10px;
        width: 16px;
        height: 16px;
        padding: 0;
    }