    body {
        font-family: 'Yeseva One', 'Times New Roman', Arial, sans-serif;
       background: linear-gradient(110deg, #5c3279, #d54f9fdf 50%, #f2e291 100%);
  background-size: 200% 200%;
  animation: gradientFlow 10s ease infinite;
        margin: 0;
        padding: 40px;
        color: rgba(115, 82, 146, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 0;          
    }
   body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('https://i.pinimg.com/1200x/5a/67/9b/5a679bc4d2bc5a2547b4e83594a5277f.jpg') center/cover no-repeat;
  opacity: 0.25;    
  pointer-events: none; 
  z-index: -1;         
}
@keyframes gradientFlow {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
    h1 {
        color: white;
        font-size: 3rem;
        margin-bottom: 20px;
        text-shadow: 0 2px 4px rgba(115, 82, 146, 1);
        margin-right: 0px;
    }

    .card-box {
        background: #fff3d6;
        padding: 25px;
        border-radius: 15px;
        width: 380px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        margin-bottom: 20px;
        transition: transform .2s ease;
    }

    .card-box:hover {
        transform: translateY(-3px);
    }

    input, textarea, button {
        width: 100%;
        padding: 14px;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        font-size: 15px;
        box-sizing: border-box;
    }

    textarea {
        height: 80px;
        resize: none;
    }

    button {
        background: #ff69b4;
        color: white;
        cursor: pointer;
        font-weight: bold;
        transition: 0.2s ease;
    }

    button:hover {
        background: #5749c9;
        transform: scale(1.02);
    }

    .flashcard {
        background: #fff9d6;
        padding: 18px;
        border-radius: 12px;
        margin-top: 10px;
        position: relative;
        border-left: 6px solid #ffd451;
        box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    }

    .delete-btn {
        position: absolute;
        right: 15px;
        top: 10px;
        font-weight: bold;
        color: #e63946;
        cursor: pointer;
        font-size: 18px;
    }

    #quiz-card {
        width: 380px;
        height: 240px;
        perspective: 1000px;
        margin-top: 20px;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .flip-inner {
        width: 100%;
        height: 100%;
        background: white;
        border-radius: 15px;
        position: relative;
        text-align: center;
        transform-style: preserve-3d;
        transition: transform 0.7s;
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        padding-bottom: 20px;
        padding-right: 20px;
        padding: 0px;
        padding: 0px;
        
    }

    .show-answer .flip-inner {
        transform: rotateY(180deg);
    }

    .flip-face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 15px;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }

    .front {
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .back {
        transform: rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        color: #1b5e20;
        font-weight: bold;
    }

    .thumbs {
        width: 380px;
        display: none;
        justify-content: space-between;
        margin-top: 20px;
    }

    .thumbs button {
        width: 48%;
        font-size: 20px;
        padding: 14px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        margin-top: 30px;
    }

    .thumbs button:hover {
        transform: scale(1.05);
    }

    .up { 
      background: #4caf50; 
      color: white; 
    }
    .down { 
      background: #e63946; 
      color: white;  
    }

            .centerP{
                text-align: center;
                margin-left: 20vh;
                margin-right: 20vh;
                margin-top: 10px;
                color:#ffeab3;
                margin-bottom: 30px;
            }

            .sglow {
                animation: smallbounce 2s ease-in-out infinite,
                        glowpulse 3s ease-in-out infinite;
            }

            @keyframes glowpulse {
                0% {
                    text-shadow: 0 0 5px #ffeab3, 0 0 10px #cd858f;
                }
                50% {
                    text-shadow: 0 0 15px #ffeab3, 0 0 25px #cd858f;
                }
                100% {
                    text-shadow: 0 0 5px #ffeab3, 0 0 10px #cd858f;
                }
            }
            .twinkle,
            .sparkle,
            .shine{
                position: absolute;
            }
            .twinkle.one{
                top: 5%;
                left: 70%;
            }
            .twinkle.two{
                top: 50%;
                left: 70%;
            }
            .twinkle.three{
            top: 75%;
            left: 25%;
            }
            .shine.one{
            top: 69%;
            left: 40%;
            }
            .shine.two{
            top: 55%;
            left: 5%;
            }
            .shine.three{
            top: 29%;
            left: 17%;
            }
            .sparkle.one{
            top: 25%;
            left: 35%;
            }
            .sparkle.two{
            top: 5%;
            left: 5%;
            }
            .sparkle.three{
            top: 65%;
            left: 27%;
            }
            .twinkle{
            animation: twinkleRotate 3s infinite linear;
            display: inline-block;
            transition: all 0.3s ease;
            color: #ffeb90;
            font-style: normal;
            font-size: 80px;
            }
            .sparkle{
            animation: twinkleSwing 4s infinite linear;
            display: inline-block;
            color: #FF69B4; /* Hot Pink */
            font-size: 45px;
            }
            .shine {
            animation: blink 1s infinite;
            color: #CBA135; /* Gold */
            display: inline-block;
            font-size: 100px;
            }
            @keyframes blink {
            0%, 100% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            }
            @keyframes twinkleRotate {
            0% {
                opacity: 0.2;
                transform: rotate(0deg) scale(1);
            }
            25% {
                opacity: 1;
                transform: rotate(90deg) scale(1.1);
            }
            50% {
                opacity: 0.4;
                transform: rotate(180deg) scale(0.95);
            }
            75% {
                opacity: 1;
                transform: rotate(270deg) scale(1.05);
            }
            100% {
                opacity: 0.2;
                transform: rotate(360deg) scale(1);
            }
            }
            @keyframes twinkleSwing {
            0% {
                opacity: 0.3;
                transform: rotate(0deg) scale(1);
            }
            25% {
                opacity: 1;
                transform: rotate(-180deg) scale(1.1);
            }
            50% {
                opacity: 0.5;
                transform: rotate(0deg) scale(0.95);
            }
            75% {
                opacity: 1;
                transform: rotate(180deg) scale(1.05);
            }
            100% {
                opacity: 0.3;
                transform: rotate(0deg) scale(1);
            }
            }
            @-webkit-keyframes glow {
            from {
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
            }
            
            to {
                text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
            }
            }
        
        
            @keyframes glow {
            from {
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
            }
            
            to {
                text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
            }
            }