    body {
        font-family: 'Times New Roman', Arial, sans-serif;
        background: linear-gradient(180deg, rgba(115, 82, 146, 1) 0%, #cd858f 100%);
        margin: 0;
        padding: 40px;
        color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgba(115, 82, 146, 1);
    }

    h1 {
        color: white;
        font-size: 3rem;
        margin-bottom: 20px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.3);
    }

    .card-box {
        background: #fff3d6;
        padding: 25px;
        border-radius: 15px;
        width: 380px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        margin-bottom: 20px;
        transition: transform .2s ease;
    }

    .card-box:hover {
        transform: translateY(-3px);
    }

    input, textarea, button {
        width: 100%;
        padding: 14px;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        font-size: 15px;
        box-sizing: border-box;
    }

    textarea {
        height: 80px;
        resize: none;
    }

    button {
        background: #ff69b4;
        color: white;
        cursor: pointer;
        font-weight: bold;
        transition: 0.2s ease;
    }

    button:hover {
        background: #5749c9;
        transform: scale(1.02);
    }

    .flashcard {
        background: #fff9d6;
        padding: 18px;
        border-radius: 12px;
        margin-top: 10px;
        position: relative;
        border-left: 6px solid #ffd451;
        box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    }

    .delete-btn {
        position: absolute;
        right: 15px;
        top: 10px;
        font-weight: bold;
        color: #e63946;
        cursor: pointer;
        font-size: 18px;
    }

    #quiz-card {
        width: 380px;
        height: 240px;
        perspective: 1000px;
        margin-top: 20px;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .flip-inner {
        width: 100%;
        height: 100%;
        background: white;
        border-radius: 15px;
        position: relative;
        text-align: center;
        transform-style: preserve-3d;
        transition: transform 0.7s;
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        padding: 20px;
    }

    .show-answer .flip-inner {
        transform: rotateY(180deg);
    }

    .flip-face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 15px;
        padding: 20px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }

    .front {
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .back {
        transform: rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        color: #1b5e20;
        font-weight: bold;
    }

    .thumbs {
        width: 380px;
        display: none;
        justify-content: space-between;
        margin-top: 20px;
    }

    .thumbs button {
        width: 48%;
        font-size: 20px;
        padding: 14px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        margin-top: 30px;
    }

    .thumbs button:hover {
        transform: scale(1.05);
    }

    .up { 
      background: #4caf50; 
      color: white; 
    }
    .down { 
      background: #e63946; 
      color: white; 
      
    }
